/********************************************
Сгенерированно в Quick Site Upgrade
https://quick-site-upgrade.com/tools/web-font-optimizer
********************************************/
@font-face {
    font-family: 'inter-regular';
    font-style: normal;
    font-weight: 400;
    src: url('inter-regular-russian.woff2') format('woff2'),
        url('inter-regular-russian.woff') format('woff'),
        url('inter-regular-russian.ttf') format('truetype');
    unicode-range: ;
}
@font-face {
    font-family: 'inter-regular';
    font-style: normal;
    font-weight: 400;
    src: url('inter-regular-english.woff2') format('woff2'),
        url('inter-regular-english.woff') format('woff'),
        url('inter-regular-english.ttf') format('truetype');
    unicode-range: ;
}
