/********************************************
Сгенерированно в Quick Site Upgrade
https://quick-site-upgrade.com/tools/web-font-optimizer
********************************************/
@font-face {
    font-family: 'sfprotext-medium';
    font-style: normal;
    font-weight: 400;
    src: url('sfprotext-medium-russian.woff2') format('woff2'),
        url('sfprotext-medium-russian.woff') format('woff'),
        url('sfprotext-medium-russian.ttf') format('truetype');
    unicode-range: ;
}
@font-face {
    font-family: 'sfprotext-medium';
    font-style: normal;
    font-weight: 400;
    src: url('sfprotext-medium-english.woff2') format('woff2'),
        url('sfprotext-medium-english.woff') format('woff'),
        url('sfprotext-medium-english.ttf') format('truetype');
    unicode-range: ;
}
