@use "../abstract-index" as *;
.anon{
    padding: 42px 56px;
    border-radius: 32px;
    background-color: $bg-light;
    &__heading{
        
        @include desktop-h3-header;
        margin-bottom: 20px;
        margin-top: 20px;

    }
    &__descrtiptin{
        @include desktop-base-text
    
    }

}
@include for-mobile{
    .anon{
        padding: 32px;
        &__heading{
            @include mobile-h3-header;
            margin-bottom: 20px;
    
        }
        &__descrtiptin{
            @include mobile-base-text
        
        }
        &__img img{
            width: 271px;
            height: 130px;
        }
    
    }
    
}
