@use "../abstract-index" as *;
.currencies{
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding: 42px 56px;
    border-radius: 40px;
    background-color: $bg-light;

    &__description{
        display:flex;
        flex-direction: column;
        gap: 20px;
    }
    &__heading{
        @include desktop-h3-header
    }
    &__info{
        @include desktop-button
    }
    &__info span{
        color: $blue;
    }
    &__list{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        display: flex;
        gap: 12px;
        flex-direction: column;
        align-items: center;
    }

}

@include for-mobile{
    .currencies{
        padding: 32px;
      
        &__heading{
            @include mobile-h3-header;
            margin-bottom: 20px;
    
        }
        &__descrtiptin{
            @include mobile-base-text
        
        }
    }
    
}


@include for-mobile{
    .currencies{
        padding: 32px;
            &__img{
                width: 56px;
                height: 56px;
            }
            &__list{
                display: flex;
                flex-wrap: wrap;
            }
        }
}
// 56




@keyframes growAndShrink {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
  
  .animate {
    animation: growAndShrink 1s ease-in-out forwards;
    
  }
  

  
  /* Continue adjusting delay for each item */
  