@use "../abstract-index" as *;
.features{
    padding-bottom:  120px;

    &__container{
        width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 488px 224px 488px;
        grid-template-rows: 
            345px 
            366px 
            366px 
            510px;
        gap: 20px
        ;
        
    }

    &__currencies{
        grid-area: 1/1/2/4;
    

    }
    &__commission{
        grid-area: 2/1/3/2;

    }
    &__exchage{
      
        grid-area: 3/1/4/2;
    }
    &__stat{
  
        grid-area: 2/2/4/4;

    }
    &__verification{

        grid-area: 4/1/5/3;

    }
    &__anon{

        grid-area: 4/3/5/4;

    }

    
}

@include for-mobile{
    .features{
    &__container{
        width: 335px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        &__currencies{
            grid-area: 1/1/2/4;
            padding: 32px;
        
    
        }
        &__commission{

            grid-area: 2/1/3/2;
    
        }
        &__exchage{
       
          
            grid-area: 3/1/4/2;
        }
        &__stat{
   
      
            grid-area: 2/2/4/4;
    
        }
        &__verification{

            grid-area: 4/1/5/3;
    
        }
        &__anon{

            grid-area: 4/3/5/4;
    
        }
       
        
    }
}



}


