@use "../abstract-index" as *;
.features{

    &__container{
        width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 488px 224px 488px;
        grid-template-rows: 
            345px 
            366px 
            366px 
            510px;
        gap: 20px
        ;
        
    }

    &__currencies{
        grid-area: 1/1/2/4;
    

    }
    &__commission{
        grid-area: 2/1/3/2;

    }
    &__exchage{
        padding: 42px 56px;
        border-radius: 32px;
        background-color: $bg-light;
        grid-area: 3/1/4/2;
    }
    &__stat{
        padding: 42px 56px;
        border-radius: 32px;
        background-color: $bg-light;
        grid-area: 2/2/4/4;

    }
    &__verification{
        padding: 42px 56px;
        border-radius: 40px;
        background-color: $bg-light;
        grid-area: 4/1/5/3;

    }
    &__anon{
        padding: 42px 56px;
        border-radius: 32px;
        background-color: $bg-light;
        grid-area: 4/3/5/4;

    }

    
}

@include for-mobile{

}



