@use "../abstract-index" as *;
.hero{
    padding-top: 20px;
    padding-bottom: 120px;

    &__container{
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
// 
    &__info{
        display: flex;
        flex-direction: column;
        gap: 56px;
        max-width: 692px;
    }

    &__description-wrapper{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__heading{
        @include desktop-h1-header;
    }
    &__heading-acent{
        color:$blue;
    }
    &__description{
        @include desktop-base-text
    }
    &__btn{
        width: 196px;
        height: 60px;
        @include desktop-button;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blue;
        border-radius: 900px;
    }
    &__crypto-bot-wrapper{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
   
   
    &__bot-list{

    }
   




    &__crypto-info{
        @include desktop-base-text
    }

// 
    &__screenshot{
        max-width: 488px;
        height: fit-content;
        padding-left: 61px;

    }





}


@include for-mobile{
    .hero{
        &__container{
            width: 335px;
            flex-direction: column;
            gap: 30px;
        }
        &__description-wrapper{
            text-align: center;
            gap: 32px;
        }
        &__heading{
            @include mobile-h1-header;
        }
        &__btn{
            width: 163px;
            height: 46px;
            align-self: center;
            @include mobile-button;
        }
        &__crypto-bot-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__bot-list img{
            width: 251px;
            height: 63px;

        }
        &__screenshot{
            height: fit-content;
            padding-left: 0px;
    
        }
        &__screenshot-img{
            width: 302px;
            height: 635px;
           
        }
    }
}



