@use "../abstract-index" as *;
.verification{
    padding: 42px 56px;
    padding-top: 0px;
    border-radius: 40px;
    background-color: $bg-light;

    &__img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px
    }
    &__heading{
        
        @include desktop-h3-header;
        margin-bottom: 20px;
        margin-top: 20px;

    }
    &__descrtiptin{
        @include desktop-base-text
    
    }

}



@include for-mobile{
    .verification{
        padding: 32px;
        padding-top: 0px;

        
        &__heading{
            @include mobile-h3-header;
            margin-bottom: 20px;
        
        }
        &__descrtiptin{
            @include mobile-base-text
        
        }
        &__img img{
            width: 247px;
            height: 194px;
        }
    
    }

}

